// Primary Color
$primary-blue: #1565c0; // Blue 800
$primary-blue-lighter: #5e92f3;
$primary-blue-darker: #003c8f;
$primary-blue-hover: #157BD6;

// Secondary Color
$secondary-green: #00bfa5; // Teal A700
$secondary-green-lighter: #5df2d6;
$secondary-green-darker: #008e76;
$secondary-green-hover: #00D6BC;

// Error Color
$error: #d32f2f; // Red 700
$error-lighter: #ff6659;
$error-darker: #9a0007;

// Success Color
$success: #00e676; // Green A400
$success-bg: rgba(0, 230, 118, 0.2);
$success-lighter: #66ffa6;
$success-darker: #00b248;

// Warning Color
$warn: #ffa000;

$column-icon-color: #9c27b0;
$task-icon-color: #ffa000;
$module-icon-color: #5e92f3;

// Background
$background: #eceff1;
$shadow: #c5c5c5;
$shadow-lighter: #e4e4e4;
$background-hover: #e0e0e0;
$background-lighter: #f3f3f3;
$background-darker: #babdbe;
$white: #ffffff;

$dark-black: #101010f0;

$navbar-bg: #232629;
$background-dark-hover: #ffffff0a;

$toast-bg: #263238;
$toast-bg-light: #2632381c;
$toast-action-bg: #f3f3f33b;
$toast-action-bg-hover: #f3f3f35c;

$font-navbar: #787c80;

$column-limit-bg: #d32f2f3d;
